* {
    font-family: sans-serif;
    color: white;
    /* margin: 0;
    padding: 0; */
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50),  
    rgba(0, 0, 0, 0.50)), url(imgLogin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background-size: cover; */
}

@keyframes showContain{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.imgLogin{
    width: 25%;
}

.contenedor {
    text-align: center;
    /* background-color: plum; */
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: fit-content;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    animation: showContain 2s;
    /* box-shadow: 0px 0px 10px 10px rgb(1, 52, 56); */
    /* text-align: center; */
}

.contraolvidada {
    /* margin-left: 10px; */
    font-size: 12px;
}

h3{
    width: 90%;
    margin-left: 18px;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    /* margin-bottom: 20px; */
    /* text-align: center; */
    /* background-color: blue; */
}

label {
    margin: 10px;
    display: block;
    font-size: 23px;
    font-weight: bolder;
}

input {
    margin: 0 auto;
    display: block;
    border: none;
    border-bottom: 2px solid #0c0000;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.50);
    text-align: center;
    transition: border-color 0.2s ease-in-out;
    height: 10px;
    margin-bottom: 20px;
}

input::placeholder{
    color: white;
}

input:focus{
    border-bottom: 2px solid #3b9eff;
    background-color: #022e5a;
}

a{
    color:rgb(0, 238, 255);
}

.validarusuario {
    /* margin-top: 10px;
    margin-left: 10px; */
    width: 90%;
    display: block;
    height: 30px;
    border: none;
    margin: 10px auto;
    color: white;
    background: none;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(5, 207, 207);
    
}

.validarusuario:hover {
    cursor: pointer;
    background-color: rgb(3, 138, 143);
    color: white;
}


.registro {
    height: 30px;
    margin-top: 30px;
    display: block;
    text-align: center;
    /* background-color: aquamarine; */
}

.registro h6 {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .contenedor{
        width: 40%;
        animation: showContain 2s;
    }
}